 /* The alert message box */

.alert strong {
	margin-right: 1rem;
}

/* The close button */
.closebtn {
  margin-left: 2.5rem;
  margin-right: 1.5rem;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 2.6rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
